<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/lib/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
  <header style="background-color: #1B00FE;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  box-shadow " style="background-color: #1B00FE;">
            <div class="container" style="background-color: #1B00FE;">
                 <div class="logo p-2">
                  <h1 class="text-light"><a asp-controller="Home" asp-action="Index">Topitop<span></span></a></h1>
                 </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                       <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item center">
                           <a class="nav-link colorLetter" class="center" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                         <li class="nav-item center">
                            <a class="nav-link colorLetter" class="center" asp-controller="Catalogo" asp-action="Index">Catalogo</a>
                        </li>

                
            


                      <!--  <li class="nav-item center">
                            <a class="nav-link colorLetter" class="center" asp-controller="Orden" asp-action="Carrito">Carrito</a>
                        </li>-->


                        <li class="nav-item center">
                            <a class="nav-link colorLetter" class="center" asp-controller="Conocenos" asp-action="Index">Nosotros</a>
                        </li>
                         <li class="nav-item center">
       <a class="nav-link colorLetter" class="center"  asp-controller="Contacto" asp-action="Create">Contacto</a>
    </li> 
                        <li class="nav-item center">
                            <a class="nav-link colorLetter" class="center" asp-controller="Contactenos" asp-action="Index">Ubicacion</a>
                        </li>
                        <partial name="_MenuPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        <main role="main">
            @RenderBody()
        </main>
        
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    
</body>
</html>

