@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link colorLetter" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @User.Identity.Name</a>
    </li>

      <li class="button">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" >Cerrar</button>
        </form>
    </li>

}
else
{

    <li class="get-started center" style="padding-top: 7px;">
        <a  asp-area="Identity" asp-page="/Account/Login">Iniciar Sesión</a>
    </li>
      <li class="center" >
        <a class="nav-link colorLetter" asp-area="Identity" asp-page="/Account/Register">Registrate</a>
    </li>
}
</ul>