@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="container" style="text-align: center;" >
    <p>
         <h3><a id="confirm-link" asp-page="./Login" style="font-size: 50px;">Haz click para logearte</a></h3>
    </p>
</div>