@{
    ViewData["Title"] = "Carrito";
}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  




  
</div>
<br>
<br>


 <div class="section-title">
          <h2 data-aos="fade-in"> Conocenos </h2>

        </div>

     <section id="about" class="about section-bg">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start">

              <img src="https://previews.123rf.com/images/jackf/jackf1702/jackf170203325/72008850-j%C3%B3venes-clientes-sonrientes-decidiendo-atar-en-tienda-de-ropa-para-hombres.jpg" style="height: 400px; width: 480px"  >
          </div>
          <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3 data-aos="fade-in" data-aos-delay="100"> Wish </h3>
              <p data-aos="fade-in">
               Bienvenidos a la tienda online de la marca Wish. Aquí podrás encontrar ropa juvenil hecha en Perú. Descubre en Wish lo mas IN de la temporada en diversas prendas como: shorts, pantalones, jeans, maxifaldas, crops, polos, blusas, sweaters, leggins, minifaldas y vestidos.
              </p>
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                  <h4><a href="#">Ropas de excelente calidad</a></h4>
                  <p>Ropas importantes de diferentes clientes</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-images"></i>
                  <h4><a href="#">Imagenes del ropas con mucha nitidez</a></h4>
                  <p>Nuestros tienda de ropas que son seleccionado cuentas con una alta calidad en las imagenes </p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-pencil"></i>
                  <h4><a href="#">Ropas de escritores importantes</a></h4>
                  <p>Tenemos todos las ropas de los escritores mas importantes</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-shield"></i>
                  <h4><a href="#">Protección</a></h4>
                  <p>Nuestros productos cuentan con todas las medidas de protección</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

  <footer id="footer">

    <div class="footer-top">

      <div class="container" data-aos="fade-up">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>Wish</h3>
            <p>Dirección: Gamarra </p>
            <p>Telefono: +51 941271896</p>
          </div>
        </div>

        

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
 
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span> Copyright</span></strong>. Todos los derechos reservador
      </div>
      <div class="credits">
        Diseñado por <a href="#">Wish</a>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>