@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{

      <li class="button">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" >Logout</button>
        </form>
    </li>

}
else
{

    <li class="get-started center" style="padding-top: 7px;">
        <a  asp-area="Identity" asp-page="/Account/Login"><b>INICIAR SESION</b></a>
    </li>
      <li class="center">
        <a class="nav-link colorLetter" asp-area="Identity" asp-page="/Account/Register"><b>REGISTRAR</b></a>
    </li>
}
</ul>