@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{


    @if (@User.Identity.Name=="admin@gmail.com")
    {

 <li class="center">
        <a class="nav-link text-dark" asp-area="" asp-controller="Contacto" asp-action="Index">Consultas</a>
    </li>


        <li class="center">
        <a class="nav-link colorLetter" asp-area="" asp-controller="Producto" asp-action="Index">Registrar</a>
        </li>
        <li class="center">
            <a class="nav-link colorLetter" asp-area="" asp-controller="Usuario" asp-action="Index">Empleados</a>
        </li>
    }
}

</ul>